<!-- טופס להזמנת בטון ע"י הלקוח -->
 <!-- <div class="container">
  
    <a class="nav-link text-white" href="#" data-toggle="modal" data-target="#orderModal">הזמנה</a> 
   -->
    <!-- The Modal -->
    <!-- <div class="modal" id="orderModal">
      <div class="modal-dialog">
        <div class="modal-content"> -->
        
          <!-- Modal Header -->
          <!-- <div class="modal-header">
              <div class="text-orange">
            
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">נשמח לספק לך משרותינו</h4>
                </div>
            
          
          </div> -->
          
          <!-- Modal body -->
          <!-- <div class="modal-body">
            <form class="text-center text-orange">
             
                <div class="form-group">
                    <label for="username">שם משתמש</label>
                    <input type="text" class="form-control" id="username" placeholder="שם משתמש" name="usnm" required>
                </div>
                <div class="form-group">
                    <label for="Tdate">תאריך</label>
                    <input type="date" class="form-control" id="Tdate" placeholder="תאריך" name="tdate" required>
                </div>
                <div class="form-group">
                    <label for="Bdate">תאריך וזמן בניה</label>
                    <input type="datetime-local" class="form-control" id="Bdate" placeholder="תאריך וזמן בניה" name="bdate" required>
                </div>
                <div class="form-group">
                    <label for="Element">אלמנט</label>
        
                    <input type="text" class="form-control" id="Element" placeholder="אלמנט" name="element" required>
                </div>
                <div class="form-group">
                    <label for="SiteAdress">כתובת אתר בניה</label>
        
                    <input type="text" class="form-control" id="SiteAdress" placeholder="כתובת אתר בניה" name="siteadress"
                        required>
                </div>
                <div class="form-group">
                    <label for="Concrete">בדיקת בטון?</label>
        
                    <input type="checkbox" class="form-control" id="Concrete" placeholder="בדיקת בטון?" name="concrete"
                        required>
                </div>
                <div class="form-group">
                    <label for="Pump">משאבה?</label>
        
                    <input type="checkbox" class="form-control" id="Pump" placeholder="משאבה?" name="pump" required>
                </div>
                <div class="form-group">
                    <label for="PumpType">סוג משאבה</label>
                    <select id="PumpType" name="pumptype" class="form-control">
                        <option value="maikopump">משאבת מייקו</option>
                        <option value="armmaikopump">משאבת מייקו עם זרוע</option>
                        <option value="24pump">משאבה 24</option>
                        <option value="28pump">משאבה 28</option>
                        <option value="32pump">משאבה 32</option>
                        <option value="36pump">משאבה 36</option>
                        <option value="42pump">משאבה 42</option>
                        <option value="52pump">משאבה 52</option>
                        <option value="56pump">משאבה 56</option>
                        <option value="62pump">משאבה 62</option>
                    </select>
        
                </div>
                <div class="form-group">
                    <label for="PipeLengh">אורך צנרת</label>
        
                    <input type="number" class="form-control" id="PipeLengh" placeholder="אורך צנרת" name="pipelengh">
                </div>
              <input type="submit"   class="btn back-orange" value="אישור"> 
            </form>
          </div>
           -->
          <!-- Modal footer -->
          <!-- <div class="modal-footer">
            <button type="button" class="btn back-orange" data-dismiss="modal">ביטול</button>
          </div>
         
          
        </div>
      </div>
    </div>
    
  </div> -->

  <div>order componenet!!!!!
  </div>
  


        
      


























<!-- <div class="container">
    <form>
        <div class="row">
            <div class="col-25">
                <label for="UserName">שם משתמש</label>
            </div>
            <div class="col-75">
                <input type="text" id="UserName" name="username" placeholder="שם משתמש">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="Tdate">תאריך</label>
            </div>
            <div class="col-75">
                <input type="date" id="Tdate" name="tdate" placeholder="תאריך"/>
            </div>
        </div>
        <div class="row">
                <div class="col-25">
                    <label for="Bdate">תאריך</label>
                </div>
                <div class="col-75">
                        <input type="date" id="Bdate" name="bdate" placeholder="תאריך בניה" />
                </div>
            </div>
            <div class="row">
                    <div class="col-25">
                        <label for="Element">אלמנט</label>
                    </div>
                    <div class="col-75">
                            <input type="text" id="Element" name="element" placeholder="אלמנט" />
                    </div>
                </div>
                <div class="row">
                        <div class="col-25">
                            <label for="SiteAdress">כתובת אתר בניה</label>
                        </div>
                        <div class="col-75">
                                <input type="text" id="SiteAdress" name="siteadress" placeholder="כתובת אתר בניה"/>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-25">
                                <label for="Concrete">בדיקת בטון?</label>
                            </div>
                            <div class="col-75">
                                    <input type="checkbox" id="Concrete" name="concrete" placeholder="בדיקת בטון?"/>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-25">
                                    <label for="Pump">משאבה?</label>
                                </div>
                                <div class="col-75">
                                    
                                        <input type="checkbox" id="Pump" name="pump" placeholder="משאבה?"/>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-25">
                                      <label for="PumpType">סוג משאבה</label>
                                    </div>
                                    <div class="col-75">
                                      <select id="PumpType" name="pumptype">
                                        <option value="maikopump">משאבת מייקו</option>
                                        <option value="armmaikopump">משאבת מייקו עם זרוע</option>
                                        <option value="24pump">משאבה 24</option>
                                        <option value="28pump">משאבה 28</option>
                                        <option value="32pump">משאבה 32</option>
                                        <option value="36pump">משאבה 36</option>
                                        <option value="42pump">משאבה 42</option>
                                        <option value="52pump">משאבה 52</option>
                                        <option value="56pump">משאבה 56</option>
                                        <option value="62pump">משאבה 62</option>
                                      </select>
                                    </div>
                                  </div>                           
                                  <div class="row">
                                        <div class="col-25">
                                            <label for="PipeLengh">אורך צנרת </label>
                                        </div>
                                        <div class="col-75">
                                                <input type="number" id="PipeLengh" name="pipelengh" placeholder="אורך צנרת"/>
                                        </div>
                                    </div>
        <div class="row">
            <input type="submit" value="אישור">
        </div>
    </form>
</div> -->
<div>