<div class="container">
    <div class="container">

        <input type="button" class="btn back-orange" value="הרשם" data-toggle="modal"data-target="ManagerRegisterModal">
    

   <!-- The Modal -->
   <!-- <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content"> -->
      
        <!-- Modal Header -->
        <div class="modal-header">
            <div class="text-orange">
          
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">שלום מנהל</h4>
              </div>
          
        
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <form class="text-center text-orange">
              <div class="form-group">
                  <label for="Tz">תעודת זהות</label>
                  <input type="text" class="form-control" id="Tz" placeholder="תעודת זהות" name="tz" required>
                </div>
                <div class="form-group">
                  <label for="Fname">שם פרטי</label>
                  <input type="text" class="form-control" id="Fname" placeholder="שם פרטי" name="fname" required>
                </div>
                <div class="form-group">
                  <label for="Lname">שם משפחה</label>
                  <input type="text" class="form-control" id="Lname" placeholder="שם משפחה" name="lname" required>
                </div>
                <div class="form-group">
                  <label for="Email">מייל</label>
                  <input type="email" class="form-control" id="Email" placeholder="מייל" name="email" required>
                </div>
                <div class="form-group">
                  <label for="Phone">טלפון</label>
                  <input type="text" class="form-control" id="Phone" placeholder="טלפון" name="phone" required>
                </div>
                <div class="form-group">
                  <label for="CellPhone">פלאפון</label>
                  <input type="text" class="form-control" id="CellPhone" placeholder="פלאפון" name="cellphone" required>
                </div>
                <div class="form-group">
                  <label for="Adress">כתובת</label>
                  <input type="text" class="form-control" id="Adress" placeholder="כתובת" name="adress" required>
                </div>
                <div class="form-group">
                    <label for="BirthDate">תאריך לידה</label>
                    <input type="date" class="form-control" id="BirthDate" placeholder="תאריך לידה" name="birthdate" required>
                  </div>
                <div class="form-group">
                  <label for="UserName">שם משתמש</label>
                  <input type="text" class="form-control" id="UserName" placeholder="שם משתמש" name="username" required>
                </div>
                <div class="form-group">
                  <label for="Password">סיסמא</label>
                  <input type="password" class="form-control" id="Password" placeholder="סיסמא" name="password" required>
                </div>
                <div class="form-group">
                    <label for="TPassword">וידוי סיסמא</label>
                    <input type="password" class="form-control" id="TPassword" placeholder="הקש סיסמא פעם נוספת" name="tpassword" required>
                  </div>
           
           
             
            <input type="submit"   class="btn back-orange" value="אישור"> 
          </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn back-orange" data-dismiss="modal">ביטול</button>
        </div>
        
      <!-- </div>
    </div>
  </div>
  
</div> -->

     